<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @server.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @server.address %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
