<%= form_for @oct, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :hyper, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :hyper, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :alpha, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :alpha, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :color, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :color, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sign_sha1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :sign_sha1, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  octs_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
