<%= simple_form_for(@oct) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :player %>
    <%= f.association :oct %>
    <%= f.input :hyper %>
    <%= f.input :alpha %>
    <%= f.input :color %>
    <%= f.input :sign_sha1 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
